%br/
.container
  .row
    .col-sm-3
    .col-sm-6
      .panel.panel-default
        .panel-heading
          %h3.panel-title Resend confirmation instructions
        .panel-body
          = bootstrap_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
            %fieldset
              .form-group
                .row
                  .col-sm-12
                    = f.email_field :email, icon: "envelope", hide_label: true, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)
                = f.submit "Resend confirmation instructions", class: "btn btn-default"
              = render "users/shared/links"
