%br/
.container
  .row
    .col-sm-1
    .col-sm-10
      .panel.panel-default
        .panel-heading
          %h3.panel-title All Users
        .panel-body
          - @users.each do |user|
            .row
              .col-sm-3
                = user.username
              .col-sm-6
                = user.email
              .col-sm-3
                = link_to 'Edit', admin_edit_path(user)
                |
                = link_to 'Destroy', admin_edit_path(user), method: :delete, data: { confirm: 'Are you sure?' }
              %hr
    .col-sm-1
