%br/
.container
  .row
    .col-sm-3
    .col-sm-6
      .card
        .card-header
          .font-weight-bold Resend unlock instructions
        .card-body
          = bootstrap_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
            %fieldset
              .form-group
                .row
                  .col-sm-12
                    = f.email_field :email, icon: "envelope", hide_label: true, autofocus: true, placeholder: "Email Address"
                = f.submit "Resend unlock instructions", class: "btn btn-outline-secondary"
              = render "users/shared/links"
