
.btn-margin-left {
    margin-left: 5px;
}
.btn-margin-right {
    margin-right: 5px;
}
.gravatar {
  padding: 0px;
  margin: 0px 5px 0px 0px;
  border-radius: 3px;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

.pad-bottom {
  padding-bottom: 5px;
}

.btn {
  cursor: pointer;
}
