body {
  padding-top: 50px;
}
.btn-margin-left {
    margin-left: 5px;
}
.btn-margin-right {
    margin-right: 5px;
}
.gravatar {
  padding: 0px;
  margin: 0px 5px 0px 0px;
  border-radius: 3px;
}
.navbar-nav>li>a { padding-top: 10px; padding-bottom: 10px; }
.navbar-brand { padding: 15px 10px; }
