#WidgetGenModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "widgetGenModal", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      #WidgetGenModalBody.modal-body
      .modal-footer
        #test
        
        #output
        .clearfix.visible-xs
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
    / /.modal-content
  / /.modal-dialog
/ /.modal
